header {
  background-color: cyan;
  box-shadow: 0px 8px 10px 0px gray;
  min-height: 3rem;
  display: flex;
  align-items: center;
}

.header {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 2fr;
  gap: 0px;
}

.headerLogoSection {
  grid-column: 1 / 2;
  display: flex;
  align-items: center;
  padding-left: 50px;
}

.headerTitle {
  font-size: 1.5rem;
  font-weight: bold;
}

.headerLogo {
  font-size: 2rem;
}

.search {
  grid-column: 2 / -1;
  display: flex;
  align-items: center;
}

.searchForm {
  display: flex;
  align-items: center;
}

.searchForm button {
  margin-left: 5px;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

.searchForm input {
  border: none;
  border-radius: 4px;
  font-size: 1.5rem;
}
